
.idea/*
.vscode/*
exp
exp/**
tmp
tmp/**
__pycache__/


assets/*
!assets/anchor
!assets/GrabNet
!assets/hand_mesh_watertight.obj
!assets/hand_palm_full.txt

data/*
!data/.gitkeep
!data/demo_hand.ply

thirdparty/*
!thirdparty/.gitkeep
!thirdparty/libmesh

checkpoints/*
!checkpoints/.gitkeep

ddp_python
